@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    src: url(/fonts/Inter.ttf) format('truetype');
  }

  html {
    @apply overflow-y-scroll overflow-x-hidden;
  }

  html, body {
    @apply h-dvh w-full;
  }

  body {
    @apply bg-primary flex flex-col font-inter text-white font-light-up tracking-wide justify-between;
  }

  p {
    @apply whitespace-pre-line;
  }
}

@layer components {
  /* blocks */
  .primary-block-default {
    @apply border-2 overflow-hidden;
  }

  .primary-block {
    @apply primary-block-default rounded-2xl;
  }

  .secondary-block {
    @apply primary-block-default rounded-lg;
  }

  .ternary-block {
    @apply primary-block border-transparent hover:border-ternary transition-[border-color];
  }

  .quaternary-block {
    @apply primary-block-default rounded-full border-ternary bg-ternary hover:bg-transparent transition-colors;
  }

  .quinary-block {
    @apply quaternary-block text-primary hover:text-white;
  }

  /* titles */
  .primary-title {
    @apply text-3xl font-medium;
  }

  .secondary-section {
    @apply flex flex-col ternary-gap-y;
  }

  .primary-line {
    @apply border-b border-b-secondary;
  }

  .secondary-line {
    @apply relative h-fit top-[1.2rem] border-dotted ml-2 mr-2 border-b border-b-quaternary;
  }

  .primary-link {
    @apply transition-colors text-ternary hover:text-quaternary;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .primary-bg {
    @apply hover:bg-secondary transition-colors;
  }

  .primary-triangle-start {
    @apply mr-auto ml-4;
  }

  .primary-triangle-center {
    @apply mx-auto;
  }

  .primary-triangle-end {
    @apply ml-auto mr-4;
  }

  .primary-top {
    @apply top-16;
  }

  /* gap */
  .primary-gap-y {
    @apply gap-y-8;
  }

  .primary-gap-x {
    @apply gap-x-8;
  }

  .secondary-gap-y {
    @apply gap-y-7;
  }

  .ternary-gap-y {
    @apply gap-y-14;
  }

  .primary-gap {
    @apply gap-8;
  }

  /* paddings */
  .primary-p {
    @apply px-6 py-3;
  }

  .primary-px {
    @apply px-5;
  }

  .secondary-p {
    @apply py-5 px-7;
  }

  .ternary-p {
    @apply py-7 px-8;
  }

  .quaternary-p {
    @apply px-6 py-2.5;
  }

  /* sizes */
  .primary-width {
    @apply min-w-8 max-w-8;
  }

  .primary-height {
    @apply min-h-8 max-h-8;
  }

  .secondary-width {
    @apply min-w-2 max-w-2;
  }

  .secondary-height {
    @apply min-h-6 max-h-6;
  }

  .ternary-width {
    @apply min-w-3 max-w-3;
  }

  .ternary-height {
    @apply min-h-5 max-h-5;
  }

  .quaternary-height {
    @apply min-h-[16.5rem] max-h-[16.5rem];
  }

  .quaternary-width {
    @apply min-w-[16.5rem] max-w-[16.5rem];
  }

  .quinary-width {
    @apply min-w-[22.65rem] max-w-[22.65rem];
  }

  .hexadecimal-width {
    @apply min-w-80 max-w-80;
  }

  .septenary-width {
    @apply min-w-52 max-w-52;
  }

  .primary-size {
    @apply primary-width primary-height;
  }

  .secondary-size {
    @apply quaternary-width quaternary-height;
  }

  .ternary-size {
    @apply object-cover size-full;
  }

  .quaternary-size {
    @apply flex-[1_1_25%] max-ternary:flex-[1_1_35%] max-quaternary:flex-[1_1_100%];
  }

  .quinary-size {
    @apply quinary-width quaternary-height;
  }

}