################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/xlgames-backend/xlgames-backend/appsettings.json
/xlgames-backend/xlgames-backend/appsettings.Development.json
/xlgames-backend/xlgames-backend/appsettings.Development.json
/xlgames-backend/xlgames-backend/appsettings.Development.json
